.content.long-bar
	.content-info
		= render partial: 'layouts/content_graph_success', locals: {image: 'fa fa-user', main: '5,860,724', suffix: 'kcal', subtext:'TOTAL ENG. CONSUMPTION'}
		  	
	.content-chart
